* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* Remove barra de rolagem em todo o body */
}

@font-face {
    font-family: 'Gameplay';
    src: url('fonts/Gameplay.ttf') format('truetype');
}

@font-face {
    font-family: 'GAMERIA';
    src: url('fonts/GAMERIA.ttf') format('truetype');
}

.background-index {
    background-color: black;
    height: 100vh;
    /* Faz com que a div ocupe 100% da altura da janela */
    width: 100vw;
    /* Faz com que a div ocupe 100% da largura da janela */
    position: absolute;
    /* Garante que a div cubra a tela */
    top: 0;
    left: 0;
    z-index: -1;
    /* Coloca a div atrás de outros elementos */
}

.background {
    background-image: url(./imagens/background.png);
    background-color: black;
    height: 100vh; /* Altura total da tela */
    width: 100%; /* Largura total da tela */
    position: absolute;
    top: 0; /* Posiciona no topo */
    left: 0; /* Posiciona à esquerda */
    z-index: 1; /* Garante que o fundo fique atrás do texto */
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa em relação à tela */
}


#image-background-sobre {
    background-image: url(./imagens/euespada.png);
    background-size: 20%;
    background-position: center 200px;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Impede que o conteúdo transborde */
    position: absolute;
    /* Posiciona a imagem dentro do fundo preto */
    animation: fadeIn 2s forwards;
    /* Aplica animações de balanço e fade-in */
}

/* Definição da animação de balanço */
@keyframes balancar {
    0% {
        transform: translateX(-15px);
        /* Começa do lado esquerdo */
    }

    50% {
        transform: translateX(15px);
        /* Vai para o lado direito */
    }

    100% {
        transform: translateX(-15px);
        /* Volta para o lado esquerdo */
    }
}


/* Definição da animação de fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
        /* Começa invisível */
    }

    100% {
        opacity: 1;
        /* Torna-se totalmente visível */
    }
}

#image-background-sobre {
    background-image: url(./imagens/backgroundsobre.png);
}

#image-background-projetos {
    background-image: url(./imagens/backgroundprojetos.png);
}

#image-background-habilidades {
    background-image: url(./imagens/backgroundhabilidades.png);
}

#image-background-cursos {
    background-image: url(./imagens/backgroundcursos.png);
}

#image-background-contato {
    background-image: url(./imagens/backgroundcontato.png);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul {
    background-color: rgba(0, 0, 0, 0.5); /* A última posição (0.5) é a opacidade, vai de 0 (transparente) a 1 (opaco) */
    position: absolute;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center;
    align-items: center;
    padding: 10px 40px 10px 40px; /* Ordem: cima, direita, baixo, esquerda */

}

nav h2 {
    color: rgb(233, 182, 43);
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: 'GAMERIA', sans-serif;
    text-shadow: 3px 3px 5px black;
}

.nomeroxo {
    color: rgb(233, 182, 43);
}

.nomeroxo:hover {

    color: purple;
}


nav ul li {
    padding: 10px 30px;
    list-style: none;
    cursor: pointer;
    position: relative;
    
}

nav ul li::before {
    content: "👉";
    /* Símbolo da mãozinha */
    position: absolute;
    left: 15px;
    /* Mãozinha ficará à esquerda */
    opacity: 0;
    /* Inicialmente invisível */
    transition: transform 0.2s ease, opacity 0.3s ease;
    /* Transição suave */
}

nav ul li:hover::before {
    opacity: 1;
    /* Torna a mão visível no hover */
    animation: wave 0.4s ease infinite;
    /* Animação da mãozinha */
}

@keyframes wave {

    0%,
    100% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(-15px);
    }
}


nav ul li a {
    color: rgb(233, 182, 43);
    text-decoration: none;
    font-size: x-large;
    text-transform: capitalize;
    font-family: 'GAMERIA', sans-serif;
    text-shadow: 6px 6px 6px black;
}

nav ul li a:hover {
    color: purple;
    transform: scale(1.2);
}

.btn:hover {
    transform: scale(1.2);
}

.inventário {
    display: flex;
    /* Coloca os quadrados na horizontal */
    gap: 5px;
    /* Espaçamento entre os quadrados */
    position: absolute;
    /* Posicionamento absoluto em relação ao elemento pai mais próximo com position */
    top: 20px;
    /* Alinhado ao topo */
    right: 20px;
    /* Mais próximo à direita */
}

/* Ajuste para telas menores */
@media (max-width: 1530px) {
    .inventário,
    .cursores {
        display: flex;
        flex-direction: column; /* Alinha os quadrados na vertical */
        gap: 5px; /* Espaçamento entre os quadrados */
        align-items: center; /* Centraliza os itens na vertical */
        transform: translateY(50%); /* Remova a centralização vertical */
        margin-top: -50px; /* Espaço superior para separar dos elementos acima */
    }
}

@media (max-width: 1804px) {
   
}


.cursores div {
    width: 50px;
    /* Largura de cada quadrado */
    height: 50px;
    /* Altura de cada quadrado */
    background-size: cover;
    /* Faz a imagem ocupar todo o espaço da div */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    filter: grayscale(100%);
    /* Aplica o efeito preto e branco */
    transition: filter 0.5s ease;
    /* Transição suave ao mudar o filtro */
    cursor: pointer;
    /* Mostra que é clicável */
}


.quadrado {
    width: 50px;
    /* Largura dos quadrados */
    height: 50px;
    /* Altura dos quadrados */
    background-color: black;
    /* Fundo preto */
    border: 1px solid purple;
    /* Borda roxa */
}

.main {
    position: fixed;
    top: 10%;
    /* Mantém a posição do topo */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Remove o translateY */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    /* Evita corte do conteúdo do contêiner */

}

h1 {
    color: rgb(233, 182, 43);
    margin: 25px 0px;
    font-size: 75px;
    font-family: 'GAMERIA', sans-serif;
    -webkit-text-stroke: 1px black;
    /* Adiciona um contorno sólido preto de 5px */
    animation: balancar 5s ease-in-out infinite, fadeIn 2s forwards;
    /* Aplica animações de balanço e fade-in */
    text-shadow: 6px 6px 6px black;

}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.apresentacao {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: pre-wrap;
    /* Mantém quebras de linha */
}

.cursores {
    display: flex;
    /* Coloca os quadrados na horizontal */
    gap: 5px;
    /* Espaçamento entre os quadrados */
    position: absolute;
    /* Posicionamento absoluto em relação ao elemento pai mais próximo com position */
    top: 20px;
    /* Alinhado ao topo */
    right: 20px;
    /* Mais próximo à direita */
}

.cursores div {
    width: 50px;
    /* Largura de cada quadrado */
    height: 50px;
    /* Altura de cada quadrado */
    background-size: cover;
    /* Faz a imagem ocupar todo o espaço da div */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    filter: grayscale(100%);
    /* Aplica o efeito preto e branco */
    transition: filter 0.5s ease;
    /* Transição suave ao mudar o filtro */
    cursor: pointer;
    /* Mostra que é clicável */
}

#espada1 {
    background-image: url('./cursors/espada1.png');
}

#espada2 {
    background-image: url('./cursors/espada2.png');
}

#espada3 {
    background-image: url('./cursors/espada3.png');
}

#espada4 {
    background-image: url('./cursors/espada4.png');
}

#espada5 {
    background-image: url('./cursors/espada5.png');
}

#espada6 {
    background-image: url('./cursors/espada6.png');
}

.cursores div.clicked {
    filter: grayscale(0%);
    /* Remove o efeito preto e branco após o clique */
}

#enter-message {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* Garante que o texto fique sobreposto ao background */
    top: 0;
    z-index: 9999;
    /* Certifica-se que o texto esteja acima de tudo */
    animation: blink 1s infinite;
    /* Animação de piscar */
    text-decoration: none;
}

/* Animação de piscar */
@keyframes blink {
    45% {
        opacity: 0;
    }
}

.voltarInicio {
    position: fixed; /* Posiciona o elemento fixo na tela */
    bottom: 20px; /* Distância do fundo da tela */
    right: 30px; /* Distância da direita da tela */
    color: rgb(233, 182, 43);
    text-decoration: none;
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'GAMERIA', sans-serif;
    text-shadow: 6px 6px 6px black;
}

.voltarInicio:hover{
    color: purple;
    transform: scale(1.2);
}