/* =========================
   ESTILOS GLOBAIS
========================= */

html, body {
  margin: 0;
  padding: 0;
  background: #000;
}

/* Botões com Efeito Neon (Glow) */
.btn-glow {
  --border-color: linear-gradient(-45deg,#2211b8,#6d34b8,#9706f7);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --bg: #0d0502;
  --color: #ffffff;

  text-decoration: none;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid; /* Modificado de grid para inline-grid para alinhar lado a lado */
  margin: 14px 10px;    /* Margem lateral adicionada para separar os botões */
  place-content: center;
  padding: 0.6em 1.6em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;

  box-shadow:
    0 15px 30px rgba(0,0,0,0.8),
    0 0 25px rgba(92, 9, 185, 0.6);

  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );

  transform: translateY(-3px);
  transition: all 250ms ease, opacity 250ms ease; /* Adicionei 'opacity' na transição */
}

/* 
  1. Estado Padrão: 
  Todos os links no cabeçalho têm 50% de opacidade.
  Também definimos que o ::before e ::after (que contêm a borda colorida e o fundo)
  acompanham a opacidade do pai para criar um efeito mais consistente.
*/
.nav-links .btn-glow {
  opacity: 0.5;
}

/* 
  2. Estado Ativo Permanente E Efeito Hover
*/
.nav-links .btn-glow:hover,
.nav-links .btn-glow.router-link-active,
.nav-links .btn-glow.router-link-exact-active {
  opacity: 1;
}

.btn-glow::after,
.btn-glow::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn-glow::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: borderMove 6s ease infinite;
  z-index: -2;
}

@keyframes borderMove {
  0% { background-position: 31% 0%; }
  50% { background-position: 70% 100%; }
  100% { background-position: 31% 0%; }
}

.btn-glow::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms ease;
}

.btn-glow:hover {
  --border-color: #f7f7f7;
  transform: translateY(-5px); /* Efeito extra ao passar o mouse */
}
